body {
    font-family: "Lato", sans-serif;
    padding: 0;
    margin: 0;

}

.sidebar {
    height: 100%;
    width: 0;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {

    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #fff;
    display: block;
    transition: 0.3s;

}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    color: black;
    padding: 10px 15px;
    border: none;
    background: white;
}

.openbtn:hover {
    background-color: #444;
}

#main {
    transition: margin-left .5s;
    padding: 0;
}

@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }
    .sidebar a {
        font-size: 18px;
    }
    
}
/* card slider */
.card-carousel {
    margin: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
 
.card-carousel .my-card {
  width: 12rem;
  position: relative;
  z-index: 1;
/*  -webkit-transform: scale(0.6) translateY(-2rem);*/
/*  transform: scale(0.6) translateY(-2rem);*/
/*  opacity: 0;*/
  cursor: pointer;
  pointer-events: none;
/*  background: #2e5266;*/
/*  background: linear-gradient(to top, #2e5266, #6e8898);*/
  transition: 1s;
}
 
.card-carousel .my-card:after {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  border-radius: 100%;
  background-color: rgba(0,0,0,0.3);
  bottom: -5rem;
/*  -webkit-filter: blur(4px);*/
/*  filter: blur(4px);*/
}
 .card-carousel .my-card:before {
  position: absolute;
  top: 50%;
  left: 50%;
/*  -webkit-transform: translateX(-50%) translateY(-50%);*/
/*  transform: translateX(-50%) translateY(-50%);*/
  font-size: 3rem;
  font-weight: 300;
  color: #fff;
}
.card-carousel .my-card.active {
  z-index: 3;
/*  -webkit-transform: scale(1) translateY(0) translateX(0);*/
/*  transform: scale(1) translateY(0) translateX(0);*/
  opacity: 1;
  pointer-events: auto;
  transition: 1s;
}
 
.card-carousel .my-card.prev, .card-carousel .my-card.next {
  z-index: 2;
/*  -webkit-transform: scale(0.8) translateY(-1rem) translateX(0);*/
/*  transform: scale(0.8) translateY(-1rem) translateX(0);*/
/*  opacity: 0.6;*/
  pointer-events: auto;
  transition: 1s;
}
div.scrollmenu {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: #777;
}
.scrollmenu::-webkit-scrollbar {
  display: none;
}
.content {
    display: flex;
    margin:5px 5px;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

.card {
	background-color: white;
    margin: 15px 10px;
	border-radius: 10px;
    width: 100%;
/*	box-shadow: 0px 20px 20px rgba(0,0,0,0.4);*/
	position: relative;
	font-family: 'Roboto', sans-serif;
}

.card-text {
    text-align: center;
    font-weight: 600;
    color: black;
}
.card-img {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: #A3A3A3;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	transition: all 0.26s ease-in-out;
}

.circle {
	width: 125px;
	height: 125px;
	border-radius: 50%;
	background-color: #828282;
	transition: all 0.26s ease-in-out;
}

.card-img:hover {
	background-color: #828282; 
}
.card-img:hover .circle {
		background-color: #A3A3A3;
	}


.card-body {
	width: 100%;
    display: block;
	background-color: white;
	color: #A3A3A3;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.card-item {
	width: 100%;
}

.card-title {
	padding-left: 20px;
	color: black;
}

.card-secondary {
	padding-left: 20px;
	padding-right: 20px;
}

.card-action {
	position: absolute;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	top: 50%;
	padding-left: 20px;
	color: #6200EE;
	transition: all 0.26s ease-in-out;
}

.card-action:hover {
	cursor: pointer;
}

.card-item:nth-of-type(1) {
	display: grid;
	grid-template-rows: 66% 33%;
}

.card-item:nth-of-type(3) {
	position: relative;
	font-style: medium;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
.mdc-card {
    margin: 5px 0;
}
.mdc-card__primary-action {
    padding: 0 5px;
}

.center
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.material-icons.md-48 { font-size: 48px;
    
    margin-left:20px; }
#uname{
    
    margin-left:20px;

}
#umail{
    color: rgba(255, 255, 255, 1); 
    margin-left:20px;
}
#userprofile{
    color: rgba(255, 255, 255, 1); 
}
hr{
    height:1px;
    border:0;
    border-top:1px solid #fff;
    margin:1em 0;
    padding:0;
}
@media screen and (max-width:600px){
    .demo-card__title{
        font-size:20px;
        margin-left:5px;
    }
}

